{% extends 'base.html' %}
{% load static %}

{% block title %}{{ media_type|title }}{% endblock %}

{% block content %}
    <div class="media-tabs">
        <a href="{% url 'media_filtered' media_type %}" class="tab {% if not current_status %}active{% endif %}">All {{ media_type|title }}</a>
        <a href="{% url 'media_filtered_status' media_type 'ip' %}" class="tab {% if current_status == 'in_progress' %}active{% endif %}">In Progress</a>
        <a href="{% url 'media_filtered_status' media_type 'f' %}" class="tab {% if current_status == 'finished' %}active{% endif %}">Finished</a>
        <a href="{% url 'media_filtered_status' media_type 'p' %}" class="tab {% if current_status == 'planning' %}active{% endif %}">Planning</a>
        <a href="{% url 'media_filtered_status' media_type 'dr' %}" class="tab {% if current_status == 'dropped' %}active{% endif %}">Dropped</a>
    </div>

    <table class="media-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Rating</th>
                <th>Genre</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for media in media_list %}
            <tr> 
                <td>{{ forloop.counter }}</td>
                <td><img src="{{ media.image_url }}" alt="{{ media.title }} cover" class="table-image"></td>
                <td>
                    <a href="{% url 'view_media' media.id %}">
                        {{ media.title }}
                    </a>  
                </td>              
                <td>{{ media.rating }}</td>
                <td>{{ media.genre }}</td>
                <td>{{ media.get_status_display }}</td>
                <td><a href="{% url 'edit_media' media.id %}" class="edit-link">Edit</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No {{ media_type|title }} found in this category.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %} 